:root {
  --main-color: #2e2f42;
  --second-txt-color: #434455;
  --portfolio-btn-main-color: #f4f4fd;
  --portfolio-btn-txt-color: #4d5ae5;
  --studio-btn-color: #4d5ae5;
  --studio-btn-txt-color: #ffff;
  --background-btn-color: #404bbf;
  --hero-footer-background-color: #2e2f42;
  --logo-web-color: #4d5ae5;
  --menu-hover-color: #404bbf;
  --footer-logo-color: #f4f4fd;
  --footer-txt-color: #e7e9fc;
  --portfolio-btn-hover-txt-color: #ffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--studio-btn-txt-color);
  color: var(--main-color);
}
.lists {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*---------HEADER--------*/
.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.logo-web {
  color: var(--logo-web-color);
}
.menu-txt:hover,
.menu-txt:focus,
.mail:hover,
.mail:focus {
  color: var(--menu-hover-color);
}
.menu-txt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-txt-color);
}
/*---------HERO--------*/
.hero {
  background-color: var(--hero-footer-background-color);
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--studio-btn-txt-color);
}
.main-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--studio-btn-color);
  color: var(--studio-btn-txt-color);
}
.main-btn,
.portfolio-btn {
  cursor: pointer;
}
.main-btn:hover,
.portfolio-btn:hover {
  background: var(--background-btn-color);
}
.main-btn:focus,
.portfolio-btn:focus {
  background: var(--background-btn-color);
}
.portfolio-btn:hover {
  color: var(--portfolio-btn-hover-txt-color);
}
.portfolio-btn:focus {
  color: var(--portfolio-btn-hover-txt-color);
}
/*---------FEATURES--------*/
.features-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-txt-color);
}
/*---------PROJECTS--------*/
.project-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/*---------TEAM--------*/
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-name {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
}
.job {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-txt-color);
}
/*---------FOOTER--------*/
.footer {
  background-color: var(--hero-footer-background-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo-color);
}
.footer-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-txt-color);
}
/*---------PORTFOLIO--------*/
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--portfolio-btn-color);
  color: var(--portfolio-btn-txt-color);
}
.portfolio-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.portfolio-txt {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-txt-color);
}
.visually {
  color: var(--studio-btn-txt-color);
}
